  <!doctype html>
  <html lang="hu" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>MediTrack - Betegek</title>
  </head>
  <body>
  <div th:replace="~{fragments/header :: header}"></div>
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 3fr">
      <!-- LEFT SIDE: PATIENT DETAILS -->
      <div class="bg-body-tertiary border rounded-3">
        <header class="py-3 mb-4 border-bottom">
          <div class="container d-flex flex-wrap justify-content-center">
            <a
              href="/"
              class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none"
            >
              <span  class="fs-4" th:text="${patient.name}"></span>
            </a>

            <a th:href="@{/patients/edit/{id}(id=${patient.id})}" class="btn btn-success"> Szerkesztés </a>
          </div>
        </header>

        <div>
          <table class="table table-striped">
            <tr>
              <th>Név</th>
              <td th:text="${patient.name}"></td>
            </tr>

            <tr>
              <th>Születési idő</th>
              <td th:text="${patient.birthDate}"></td>
            </tr>

            <tr>
              <th>Születési hely</th>
              <td th:text="${patient.birthPlace}"></td>
            </tr>

            <tr>
              <th>Anyja neve</th>
              <td th:text="${patient.motherName}"></td>
            </tr>

            <tr>
              <th>Lakcím</th>
              <td th:text="${patient.address}"></td>
            </tr>

            <tr>
              <th>Diagnózis</th>
              <td th:text="${patient.diagnosis}"></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- RIGHT SIDE: POSTS -->
      <div class="bg-body-tertiary border rounded-3 p-3">
        <!-- FORM -->
          <div th:if="${session.doctorId == null}" class="alert alert-warning text-center fw-bold mb-3" role="alert">
              Új bejegyzés létrehozásához kérjük, kérlek jelentkezz be!
          </div>

          <form th:if="${session.doctorId != null}" th:action="@{/notes/save}" method="post">

              <input type="hidden" name="patientId" th:value="${patient.id}" />

              <div class="mb-3">
                  <label class="form-label">Bejegyzés létrehozása</label>
                  <textarea class="form-control" name="content" rows="3"></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Mentés</button>
          </form>

        <!-- POSTS LIST -->
        <div class="mt-4">
          <!-- TODO: th:each="post : ${posts}" -->

          <!-- SAMPLE POST -->
          <div th:each="note:${notes}" class="card mb-3">
            <div class="card-body">
              <p th:text="${note.content}"></p>

              <small class="text-muted"
                     th:text="${#temporals.format(note.createdAt, 'yyyy-MM-dd HH:mm')}">
              </small>
              <small>
                Created by:
                <span th:text="${note.doctor.name}"></span>
              </small>

              <a th:href="@{/notes/delete/{id}(id=${note.id})}"
                 class="btn btn-danger btn-sm">
                Törlés
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
